# Availity Portal Configuration
BASE_URL=https://apps.availity.com
USERNAME=AdiSinghal
PASSWORD=Aadi12005#

# Database Configuration
DATABASE_URL=postgresql+asyncpg://user:pass@localhost:5432/availity_rpa

# Selenium Configuration
SELENIUM_HEADLESS=true
PAGELOAD_TIMEOUT=60
EXPLICIT_TIMEOUT=20

# Artifacts Configuration
ARTIFACTS_DIR=artifacts

