# Availity Portal Configuration
BASE_URL=https://apps.availity.com
AVAILITY_USERNAME=22360iiitu
AVAILITY_PASSWORD=Vansh#1234

# Database Configuration
DATABASE_URL=postgresql://postgres:12345@localhost:5432/avility_rpa


# Selenium Configuration
SELENIUM_HEADLESS=true
PAGELOAD_TIMEOUT=60
EXPLICIT_TIMEOUT=20

# Artifacts Configuration
ARTIFACTS_DIR=artifacts

